{
  "version": 1,
  "minor_version": 3,
  "key": "core.config",
  "data": {
    "latitude": 49.4167,
    "longitude": 16.35,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "Europe/Prague",
    "external_url": null,
    "internal_url": null,
    "currency": "EUR",
    "country": "CZ",
    "language": "en"
  }
}